<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav" style="background-color:#212529">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="{{ site.baseurl }}/#">
      {%- if site.logo -%}
      <img height="{{ site.logo.height | default: 52 }}" src="{{ site.logo.path }}" />
      {%- else -%}
      {{ site.title }}
      {%- endif -%}
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
      data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false"
      aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        {%- for link in site.data.navigation.nav -%}
        {% if link.sublinks %}
        <li class="nav-item dropdown">
          {%- if link.url -%}
          <a class="nav-link js-scroll-trigger" href="{{ link.url | absolute_url  }}">{{ link.title }}</a>
          {%- else if link.section -%}
          <!-- <a class="nav-link js-scroll-trigger dropdown-toggle" data-toggle="dropdown" role="button"
            aria-haspopup="true" aria-expanded="false" href="/#{{ link.section
            }}">{{ link.title }}</a> -->
          <a class="nav-link js-scroll-trigger dropdown-toggle" href="/#{{ link.section }}">{{ link.title }}</a>
          {%- else -%}
          <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
          <ul class="dropdown-menu">
            {% for sublink in link.sublinks %}
            {% if sublink.title == 'separator' %}
            <li role="separator" class="dropdown-divider"></li>
            {% else %}
            {%- if sublink.url -%}
            <li>
              <a href="{{ sublink.url | absolute_url  }}">{{ sublink.title }}</a>
            </li>
            {%- else if sublink.section -%}
            <li>
              <a href="/#{{ sublink.section }}">{{ sublink.title }}</a>
            </li>
            {%- endif -%}
            {% endif %}
            {% endfor %}
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          {%- if link.url -%}
          <a class="nav-link js-scroll-trigger" href="{{ link.url | absolute_url }}">{{ link.title }}</a>
          {%- else if link.section -%}
          <a class="nav-link js-scroll-trigger" href="/#{{ link.section }}">{{ link.title }}</a>
          {%- else -%}
          <a class="nav-link js-scroll-trigger" href="#">{{ link.title }}</a>
          {%- endif -%}
        </li>
        {% endif %}
        {% endfor %}
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navigation -->