<!-- Organization -->
<section class="page-section" id="{{ site.data.sitetext.organization.section | default: " organization" }}">
    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">{{ site.data.sitetext.organization.title | default:
                    "Organization" }}
                </h2>
                {% if site.data.sitetext.organization.text %}
                <h3 class="section-subheading text-muted">{{ site.data.sitetext.organization.text }}</h3>
                {% endif %}
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md">
                <!-- <span class="fa-stack fa-4x"> -->
                <img src="assets/img/organization/foundation_structure.png" alt="SCION Foundation Structure">
                <!--  </span> -->
                <h4 class="service-heading">{{ organization.title | markdownify }}</h4>
                {% if organization.desc %}<div class="text-muted">{{ organization.desc | markdownify }}</div>{% endif %}
            </div>
        </div>
    </div>
</section>
<!-- End Organization -->