<!-- Partners -->
<section class="py-5" id="{{ site.data.sitetext.partners.section | default: " partners" }}">
  <div class="container">

    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading text-uppercase">{{ site.data.sitetext.partners.title | default: "Partners" }}</h2>
        {% if site.data.sitetext.partners.text %}
        <h3 class="section-subheading text-muted">{{ site.data.sitetext.partners.text }}</h3>
        {% endif %}
      </div>
    </div>

    <br>

    <div class="row" {% if site.data.sitetext.partners.horizontal-scrolling=="yes" %} id="scrolling-partners" {% endif
      %}>
      {% for partners in site.data.sitetext.partners.list %}
      <div class="col-md-3 col-sm-6">
        <a href="{{ partners.url }}">
          <img class="img-fluid d-block mx-auto" src="{{ partners.logo }}" alt="{{ client.title }}"
            style="max-height: {{ site.data.sitetext.partners.max-height | default: " 100px" }}">
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</section>